      .sharp {
          border-radius: 0;
      }
      
      table thead {
          background-color: #d3d3d3;
      }
      
      .shadow {
          box-shadow: 5px 5px #d3d3d3;
      }
      
      .black {
          background-color: #000;
          border-color: #000;
      }
      
      .white {
          font-color: #fff;
      }
      
      .btn-primary:hover,
      .btn-primary:focus,
      .btn-primary:active,
      .btn-primary.active {
          color: #fff;
          background-color: #ccc;
          border-color: #ccc;
          /*set the color you want here*/
      }
      
      .margin-top-20 {
          margin-top: 20px;
      }
      
      .margin-top-5 {
          margin-top: 5px;
      }
      
      @media (min-width: 320px) {
          .container-small {
              width: 80%;
          }
      }
      
      @media (min-width: 768px) {
          .container-small {
              width: 80%;
          }
      }
      
      @media (min-width: 992px) {
          .container-small {
              width: 100%;
          }
      }
      
      @media (min-width: 1200px) {
          .container-small {
              width: 40%;
              ;
          }
      }
      
      :focus {
          outline: none;
      }
